html 
{
    width: 100%;
    height: 100%;
    margin: auto;
}

body 
{ 
    background: -webkit-linear-gradient(#000000, #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #999999); /* Standard syntax */
    width: 100%;
    height: 100%;
    margin: auto;
}

#body 
{
    margin: auto auto;
    width: 80%;
}

#logo
{
	display: block;
	margin: auto auto;
}

#contents
{
	width: 60%;
	margin: auto;
	background: #CCCCCC;
}

#contents a:link, a:visited, a:active
{
	text-decoration: none;
}